.gesipan_top {
    width: 100%;
    height: 50px;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-top: 5px solid rgb(102, 102, 102);
}
.gesipan_topindex {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    overflow: hidden;
}
.gesipan_toptitle {
    width: 35%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    padding-left: 20px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    overflow: hidden;
}
.gesipan_topmaker {
    width: 30%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
    overflow: hidden;
}

.gesipan_toptime {
    width: 20%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 12.5px;
    box-sizing: content-box;
    border-left: 1px gray solid;
    overflow: hidden;
}
.gesipan_socat {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    border: 0px;
}
.gesipan_r {
    width: 100%;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px gray solid;
    display: flex;
    justify-content: center;
}
.gesipan_index {
    width: 15%;
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.gesipan_title {
    width: 35%;
    height: 25px;
    text-align: left;
    padding-left: 20px;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.gesipan_maker {
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%; 
    height: 20px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
.change {
    background-color: rgba(0, 183, 255, 0.5);
}
.change:hover {
    background-color:rgba(0, 255, 242, 0.795)
}
.gesipan_time {
    width: 20%;
    height: 25px;
    text-align: center;
    font-family: '고딕';
    margin-top: 8px;
    box-sizing: border-box;
    overflow: hidden;
}
@media (max-width: 992px) {
    .gesipan_time {
        font-size: 12px;
    }   
}
@media (max-width: 767px) {
    .gesipan_time {
        font-size: 8px;
        margin-top: 10px;
    }   
    .gesipan_maker {
        font-size: 12px;
        margin-top: 10px;
    }
}
.mini {
    width: 100px;
}