* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.col-12 {
    padding: 0px;
}
.logo {
    padding: 0px;
}

/*네비바--------*/
.top_nav {
    width: 198px;
    height: 95px;
    background-image: url(image/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
}
.navbar-toggler {
    margin-left: 90%;
}
.test {
    background-color: gray;
    height: 100px;
    border-radius: 1rem;
}
.test2 {
    background-color: gray;
    height: 50px;
}
.nav_con {
    background-color: #1975be;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid darkgrey;
    z-index: 2;
}
#navbar_box {
    padding: 0px;
}
.navbarBox {
    min-height: 80px;
    flex-direction: column;
    justify-content: center;
    display: flex;  
}
.nav-item {
    width: 250px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-item > a {
    color: white;
    font-size: 21px;
    border-radius: 1rem;
}
.nav-item > a:hover {
    color: white;
    background-color: black;
    font-size: 21px;
}
.dropdown-menu {
    width: 250px;
    text-align: center;
}
.dropdown-item {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav_phoneNumber {
        display: none;
    }
}
@media (max-width: 991px) {
    .nav-item {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
        text-align: left;
    }
}

/*네비바 영역-----------*/

/*섹션 1-----------------*/
.section1 {
    z-index: 1;
}
#carouselExampleControls {
    position: relative;
}
.section1Box {
    width: 60%;
    background-color: #cf5c5c;
    z-index: 2;
    position: relative;
    top: calc(-50%)
}
.crouselFl {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 20%;
    text-align: left;
}
.test2 {
    height: 100px;
    border-radius: 1rem;
    background-color: gray;
}
.형광펜 {
    background: linear-gradient(to top, rgba(59, 59, 59, 0.658) 50%,rgba(59, 59, 59, 0.658) 50%);
    width: fit-content;
}
.노랑 {
    color: rgb(255, 255, 37);
}
.section1Title {
    width: 100%;
    font-size: 24px;
    color: white;
}
.section1Title2 {
    width: 100%;
    font-size: 48px;
    margin-bottom: 25px;
    font-weight: bold;
    color: white;
}
@media (max-width: 1600px) {
    .section1Title {
        font-size: 24px;
    }
    .section1Title2 {
        font-size: 38px;
    }
}
@media (max-width: 1200px) {
    .section1Title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .section1Title2 {
        font-size: 32px;
        margin-bottom: 24px;
    }
}
@media (max-width: 1000px) {
    .section1Title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .section1Title2 {
        font-size: 26px;
        margin-bottom: 18px;
    }
}
@media (max-width: 700px) {
    .test {
        top: 20px;
    }
    .section1Title {
        font-size: 10px;
        margin-bottom: 5px;
        display: none;
    }
    .section1Title2 {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 20px;
        display: none;
    }
}
/*섹션 1-----------------*/

/*섹션 2-------------------*/

.section2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f8f8f8;
}
.section2Title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.section2Title2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 15px;
}
.icon {
    width: 250px;
    border-radius: 100%;
}
.icon_card {
    width: 250px;
    height: 400px;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.icon_card:hover {
    background-color: rgba(0, 0, 0, 0.055);
}
.icon_title {
    margin-top: 20px;
    font-size: 24px;
    width: 250px;
    text-align: center;
}
.icon_text {
    font-size: 14px;
    width: 250px;
    margin-bottom: 2px;
    text-align: center;
}
/*섹션 2-------------------*/

/*섹션 3-------------------*/
.section3 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section3Title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.section3Title2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
}
.section3img {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.deco {
    box-shadow: -10px -0px 0px rgb(199, 0, 0);
}
.section3Box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.section3BoxContent {
    border-radius: 5px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.section3BoxContentTitle {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffb250;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.section3BoxContentContent {
    border: 1px solid gray;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
}
.section3BoxContentContent > li {
    margin-left: 20px;
    list-style: square;
    color: #ffb250;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.section3BoxContentContent > li > span {
    color: black;
    font-weight: 700;
}
.section3BoxContentTitle2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7db249;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.section3BoxContentContent2 {
    border: 1px solid gray;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
}
.section3BoxContentContent2 > li {
    margin-left: 20px;
    list-style: square;
    color: #7db249;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.section3BoxContentContent2 > li > span {
    color: black;
    font-weight: 700;
}
.section3BoxContentTitle3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #18a8f1;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.section3BoxContentContent3 {
    border: 1px solid gray;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
}
.section3BoxContentContent3 > li {
    margin-left: 20px;
    list-style: square;
    color: #18a8f1;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.section3BoxContentContent3 > li > span {
    color: black;
    font-weight: 700;
}
/*섹션 3-------------------*/

/*섹션 4-------------------*/
.section4 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(image/call.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.section4Title {
    color: white;
    font-size: 28px;   
    margin-bottom: 40px;
}
.section4 > a {
    padding: 20px 40px;
    background-color: #ffb250;
    border-radius: 10rem;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.section4 > a:hover {
    color: black;
    background-color: white;
}
/*섹션 4-------------------*/

/*footer*/
footer {
    width: 100%;
    background-color: black;
}
footer > .footer_r > .teck_footer_logo > p {
    font-size: 12px;
    color: whitesmoke;
}
.footer_r {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.teck {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.teck_button {
    font-size: 14px;
    margin-right: 25px;
    margin-top: 25px;
    color: gray;
    text-align: center;
}
.teck_button:hover {
    color: white;
    background-color: gray;
}
.teck_footer_logo {
    width: 100%;
}
.teck_logo {
    width: 100%;
    margin-top: 25px;
    text-align: right;
}
@media (max-width: 992px) {
    .teck_logo {
        display: none;
    }
}
a {
    text-decoration: none;
}
