input {
    width: 500px;
    height: 50px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box;
}
.box {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
button {
    width: 500px;
    height: 50px;
    border-radius: 1rem;
    background-color: rgba(81, 255, 0, 0.5);
}
button:hover {
    background-color: aquamarine;
}
.hide {
    display: none;
}
.happyend2 {
    width: 100%;
}